@use '../../stytes-staff/variables.module.sass' as var
@use '../../stytes-staff/mixins.module.sass' as mixin
    
 
.header
    text-align: center
    font-family: var.$font-fam
    @include  mixin.GradientColor
    margin-block: 0
    font-size: 40px

.wrapper
    max-width: 600px
    margin: 100px auto
    padding: 60px
    @media screen and (max-width: 730px)
        margin: 0 auto
        padding: 20px
    @media screen and (max-width: 460px)  
        padding: 10px   
    